<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="song" class="com.codefountain.spring.core.applicationcontext.Song">
		<property name="singer" value="singer" />
		<property name="songName" value="some song" />
	</bean>
	
</beans>
