<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<!--  bean id="person" class="com.codefountain.spring.core.xmlconfig.constructor.Person">
		<constructor-arg name="id" value="1" />
		<constructor-arg name="firstName" value="John" />
		<constructor-arg name="lastName" value="Doe" />
	</bean -->
	
	
	<!-- bean id="person" class="com.codefountain.spring.core.xmlconfig.constructor.Person">
		<constructor-arg index="0" value="1" />
		<constructor-arg index="1" value="John" />
		<constructor-arg index="2" value="Doe" />
	</bean -->
	
	<bean id="person" class="com.codefountain.spring.core.xmlconfig.constructor.Person">
		<constructor-arg type="int" value="1" />
		<constructor-arg type="java.lang.String" value="John" />
		<constructor-arg type="java.lang.String" value="Doe" />
	</bean>
	
</beans>
